<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Culturallis"
        tools:targetApi="31">
        <activity
            android:name=".View.Navbar.NavbarCulturallis"
            android:exported="false"/>
        <activity
            android:name=".View.Configuration.TermsOfService"
            android:exported="false"/>
        <activity
            android:name=".View.Configuration.Security"
            android:exported="false"/>
        <activity
            android:name=".View.Entrance.LogIn"
            android:exported="false"/>
        <activity
            android:name=".View.Entrance.LogOn"
            android:exported="false"/>
        <activity
            android:name=".View.Configuration.PerfilEdit"
            android:exported="false"/>
        <activity
            android:name=".View.Configuration.MainSettingsScreen"
            android:exported="false"/>
        <activity
            android:name=".View.Courses.HomeCourses"
            android:exported="false" />
        <activity
            android:name=".View.Entrance.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>